.map {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.endereco {
    margin: 30px;
    text-align: center;
}

@media (max-width: 1200px) {
    .map {
        width: 90%;
        height: 500px;
    }
}

@media (max-width: 768px) {
    .map {
        width: 100%;
        height: 400px;
    }

    .endereco {
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .map {
        width: 100%;
        height: 300px;
    }

    .endereco {
        margin: 10px;
    }
}
